.NavBar{
    display:flex;
    width:100%;
    height:8vh;
    background: white;
    color: #5d79ae;
}

.NavLeft{
    display:flex;
    flex-wrap:wrap;
    width:80%
}

.NavTitle{
    font-size: xx-large;
    padding-top:8.5%;
    text-decoration: none;
    color:#5d79ae
 }


.NavRight{
    display:flex;
    flex-wrap:wrap;
    width:20%;
    justify-content:flex-end;
    // margin-left: 5%;
    align-items: center;
    color: #5d79ae;
}

// .StyledP{
//     color: dodgerblue !important;
//     font-size: large;
// }
// .StyledP:hover{
//     color: lightblue !important
// }
.StyledP {
    color: #5d79ae !important;
    font-size: x-large;
    margin-left:10%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .StyledP:hover, .StyledP:focus, .StyledP:active {
    color: #FEBD52 !important;
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
  }

  @media only screen and (max-width: 800px) {
    .NavRight{
        width:50%;
    }
    .NavLeft{
        width:50%
    }
    .StyledP{
        margin-left: 5%;
    }
}