.NavBar{
    display:flex;
    width:100%;
    height:7vh;
    background: white;
    color: #5d79ae;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.NavLeft{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    width:80%;
    // border:1px solid red;
    margin-left: 5%;
}

.NavTitle{
    font-size: xx-large;
    text-decoration: none;
    color:#5d79ae;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    // border:1px solid blue;
 }


.NavRight{
    // border:1px solid red;
    display:flex;
    flex-wrap:wrap;
    width:20%;
    justify-content:flex-end;
    // margin-left: 5%;
    align-items: center;
    color: #5d79ae;
    margin-right: 5%;
}

// .StyledP{
//     color: dodgerblue !important;
//     font-size: large;
// }
// .StyledP:hover{
//     color: lightblue !important
// }
.StyledP {
    color: #5d79ae !important;
    font-size: x-large;
    margin-left:10%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .StyledP:hover, .StyledP:focus, .StyledP:active {
    color: #FEBD52 !important;
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
  }

  @media only screen and (max-width: 800px) {
    .NavRight{
        width:50%;
    }
    .NavLeft{
        width:50%
    }
    .StyledP{
        margin-left: 5%;
    }
}

@media only screen and (max-width: 500px) {
    .NavRight{
        width:50%;
    }
    .NavLeft{
        width:50%
    }
    .NavTitle{
        font-size: x-large;

     }
    
    .StyledP{
        margin-left: 5%;
        font-size: small;
    }
}