.teachers{
    // border:1px solid red;
    height:83vh;
}
.teachers-title{
    // border:1px solid green;
    justify-content: center;
    display: flex;
    height: 6%;
}
.team{
    margin-top:1%;
    border-top: 3px solid dodgerblue;
    height: 90%;
    display: flex;
    padding-top: 2%;
    
    // justify-content: center;
}
.teacher-pics{
    // border:1px solid red;
    height: 100%;
    width:20%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.teacher-image{
    // border:1px solid orangered;
    height:20%;
    width:45%;
    border-radius: 100%;
    margin-top:2.5%

}
.descriptions-teacher{
    // border:1px solid blue;
    width: 25%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.teacher-description{
    height:100%;
    width:100%;
    margin-top:3%;
    border-bottom:3px solid dodgerblue;
    // border-top:3px solid dodgerblue;

}
.teacher-right-pic{
    // border:1px solid red;
    width:50%;
    margin-top:1%;
    margin-left: 7%;
    border-radius: 5%;
}
.leader{
    width:100%;
    height: 100%;
    border-radius: 5%;
    opacity: .9;
}