.teachers{
    // border:1px solid red;
    border-radius: 2%;
    height:165vh;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    // border-bottom: 5px solid dodgerblue;
    margin-top: 1.5%;
}

.top-container{
    // border:1px solid blueviolet;
    height:65%;
    width: 100%;
    display:flex;
}
.left-container{
    // border:1px solid red;
    height:100%;
    width:50%;
}
.left-container-title{
    // border:1px solid green;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 15%;
    font-family: sans-serif;
}
.offer{
    text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px,  #FEBD52 25px, #FEBD52 290px);
    color:black;
    width:45%;
    height: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    
}
.left-container-text{
    margin-top:2%;
    margin-left:8%;
    margin-right: 8%;
    font-size:medium;
    font-family: sans-serif;
}
.left-list{
    margin-top:2%;
    font-size: large;
}
.list-container{
    margin-top:8%
}

.right-container{
    height:100%;
    width:50%;
    // border:1px solid dodgerblue;
    height:100%;
    width:50%;
    
}

@media only screen and (max-width: 800px) {
  .teachers{
    height: 300vh;
    align-items: flex-start;
  }
    .top-container{
    // border:1px solid blueviolet;
    height:75%;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
  }
  .left-container{
    height: 40%;
    width: 100%;
  }
  .right-container{
    // border:1px solid blueviolet;
    height: 60%;
    width: 100%;
  }
  .rank{
    padding-left: 25%;
    // border:1px solid blueviolet;
  }

}

@media only screen and (max-width: 500px){
  .teachers{
    height: 650vh;
  }
  .playa-pic{
    margin-top:5%;
  }
  .top-container{
    // border:1px solid blueviolet;
    height:75%;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
  }
  .left-container{
    // border:1px solid blue;
    height: 40%;
    width: 100%;
  }
  .right-container{
    // border:1px solid blueviolet;
    height: 60%;
    width: 100%;
  }
  .team-container{
    // border:1px solid blue;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    
  }
  .rank{
    padding-right: 10%;
    padding-left:10%;
    // border:1px solid blueviolet;
  }
  label{
    // border: 1px solid red;
    margin-top:10%
  }
  .col-25-1{
    // border:1px solid red;
    display:flex;
    padding-top:5%;
    // height: 56px;
  }
}

.right-container-title{
    // border:1px solid dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    height: 15%;
    font-family: sans-serif;
}
.right-title{
    text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px,  #5d79ae 25px, #5d79ae 290px);
    color:white;
    width:45%;
    height: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.team-container{
    // border:1px solid red;
    height:80%;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap
}
.playa{
    background-image: repeating-linear-gradient(45deg, #FEBD52, #FEBD52 25px, #FEBD52 25px, #FEBD52 111111270px);
    border-radius: 5%;
    // padding-top:3%;
    border:3px solid #5d79ae ;
    height:48%;
    width:45%;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}
.playa1{
    background-image: repeating-linear-gradient(45deg, #5d79ae, #5d79ae 25px, #5d79ae 25px, #5d79ae 9111270px);
    border-radius: 5%;
    // padding-top:3%;
    border:3px solid #FEBD52;
    height:48%;
    width:45%;
    color:#FEF8DD;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);

}
@media only screen and (max-width: 500px){
  .playa{
    // border:5px solid red;
    width:100%;
    height:32%;
  }
  .playa1{
    // border:1px solid red;
    width:100%;
    height:32%;
  }
  .right-title{
    width: 100%;
    height: 30%;
  }
  .offer{
    width: 100%;
    height: 45%;
  }
}

.playa-img{
    // border:1px solid red;
    margin-top:4%;
    height:37%;
    display:flex;
    justify-content: center;
}
.playa-pic{
    height:120px;
    width: 120px;
    border-radius: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}
.playa-title{
    // border:1px solid green;
    color:#FEF8DD;
    height:8%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: x-large;

}
.playa-title1{
    color:black;
    height:8%;
    margin-bottom: 2%;
    margin-top: -1%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: x-large;

}
.skills-container{
    // border:1px solid black;
    height: 55%;
    display:flex;
    flex-wrap: wrap;
}
.tag{
    font-size: x-large;
    font-family: sans-serif;
    color:dodgerblue;
}
.box{
    // border:1px solid red;
    height:65%;
    width:50%;
}
.box-small{
  // border:1px solid red;
  height:35%;
  width:50%;
}
.box-title{
    // margin-top:5%;
    width:100%;
    margin-bottom: 2%;
    height:15%;
    display:flex;
    justify-content: center;
    // align-items: flex-start;
    font-size: medium;
    font-weight: 600;
    text-decoration: underline;
    // border:1px solid red;
}
.box-desc{
    // border:1px solid blue;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    // font-size: medium;
}
.desc-text{
  margin-top:10%
}
.desc-text1{
  margin-top:10%
}
.media{
  // border:1px solid red;
  width: 50%;
  height:85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  // margin-left:10%;
}
.media-link{
  height:35%;
  width:35%;
  // border:1px solid blue;
}
.MediaLinkTwitch{
  height:35%;
  width:35%;
  // border:1px solid blue;
  margin-left:100%;
  color: black

}
.MediaLinkTwitch:hover{
  color:#262626;
}

.MediaLink{
  color: black;
}
.MediaLink:hover{
  color: #262626;
}


.timezone{
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
}
.rank{
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    // padding-top: 8%;
    font-family: 'Courier New', Courier, monospace;
}
.experience{
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    // align-items: center;
    // border:1px solid red;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 3%;
    padding-top: 5%;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 800px) {
  .right-title{
    height: 35%;
  }
.experience{
  padding-left: 10%;
}
.media-link{
  // border: 1px solid black;
  i{
    // border:1px solid blue;
    font-size: 4vw;
  }
}
}

@media only screen and (max-width: 500px) {
  .media-link{
    // border: 1px solid black;
    i{
      // border:1px solid blue;
      font-size: 8vw;
    }
  }
  .desc-text1{
    margin-left:25%;
  }
  .desc-text2{
    margin-left:10%;
  }
}


.form{
    border:1px solid blue;
    height:50%
    // background-color: dodgerblue;
    
}
.label{
    text-align: left;
    display: flex;
    // margin-left:4%;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    color: black;
    font-weight: bold;
    height:8%;
    // background-color: dodgerblue;
}

.input{
    margin-right: .3%;
    width: 70%;
    padding: 2%;
    border: 1px solid #35373B;
    border-radius: 10px;
    height:8%
  
}

.input-mm{
  width: 70%;
  padding: 2%;
  border: 1px solid #35373B;
  border-radius: 10px;
  height:8%

}

.input-last{
  margin-right: 1.4%;
  width: 70%;
  padding: 2%;
  border: 1px solid #35373B;
  border-radius: 10px;
  height:8%

}
.label-text{
  margin-top:1%;
  margin-bottom:1%;
  display: flex;
  padding-left:22%;
  font-size: medium;
  // background-color: dodgerblue;
}

.submit-appointment{
    display:flex;
    justify-content: center;
    // margin-bottom: 3%;
    margin-top: 2%;
}


.appointment-button{
    // margin-top:%;
	background:linear-gradient(to bottom, dodgerblue 5%, blue 100%);
	background-color:dodgerblue;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.appointment-button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.appointment-button:active {
	position:relative;
	top:1px;
}





/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding: 1.5%;
    border: 1px solid #ccc;
    border-radius: 1%;
    box-sizing: border-box;
    resize: vertical;
    // box-shadow: 0 5px 5px -5px #333;
  }

  @media only screen and (max-width: 500px) {
    input[type=text], select, textarea{
      font-size: .8em;
    }
  }
  
  /* Style the label to display next to the inputs */
  label {
    font-weight:600 ;
    font-family: sans-serif;
    padding: 4% 4% 4% 0;
    display: inline-block;
    
  }
  
  /* Style the submit button */



  .but{
    margin-top:1%;
    font-family: sans-serif;
    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    border: 1px solid black;
    // align-items: center;
  }

  
  /* Style the container */
  .container {
    // border: 1px solid red;;
    height: 35%;
    width:100%;
    background-color: #ffff;
    padding: 2%;
  }
  @media screen and (max-width: 800px) {
    .container{
      height:25%;
      padding-top:20%;
    }
    .rowbutton{
      padding-top:8%;
    }
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    // float: left;
    width: 25%;
    position: relative;
  display: inline-block;
    margin-top: 6px;
  }
  .col-25-1{
    font-weight:600 ;
    font-family: sans-serif;
    width: 25%;
    position: relative;
  display: inline-block;
    margin-top: 16px;
  }
  .col-25-1 .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */

  }
  .tooltiptext{
    background-color: #ffff;
    color: black;
    font-size: x-small;

  }
  .here{
      color:dodgerblue
  }
  .col-25-1:hover .tooltiptext {
    visibility: visible;
  }
  





  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  // .row {
  //   border: 1px solid black;
  // }

  .rowbutton{
    // border: 1px solid black;
    display: flex;
    justify-content: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

 .redir-contain{
  //  border: 1px solid red;
   width:100%;
   height:80vh;
 }
 .redir-top{
   height:30%;
  //  border:1px solid blue;
   display: flex;
   justify-content: center;
   align-items:center;
   flex-wrap: wrap;
  }
  
  .thanks-container{
    // border:1px solid red;
    width:100%;
    height:80%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    // padding-top: 8%;

  }

 .thanks{
  // border:1px solid green;
   font-family: sans-serif;
   font-size: 3em;
 }
 .contacter-container{
  // border:1px solid blue;
  width:100%;
  height:20%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  // align-items: center;
  margin-top:.5%;

}

.contacter{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: .8em;
}
.redir-bottom{
  // border:1px solid red;
  height:65%;
  display:flex;
  flex-wrap: wrap;
}
.dir-box{
  // border:1px solid green;
  // height:25%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.boxes{
  // border:1px solid red;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 25px,  rgb(228, 162, 56) 25px, rgb(228, 162, 56) 25px 535px);
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxes2{
  // border:1px solid red;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 25px,  #5d79ae 25px, #5d79ae 535px);
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxes3{
  background-image: repeating-linear-gradient(45deg, transparent, transparent 25px,  black 25px, black 535px);
  // border:1px solid red;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}
// #c4302b
.boxes4{
  background-image: repeating-linear-gradient(45deg, transparent, transparent 25px,  #c4302b 25px, #c4302b 535px);
  // border:1px solid red;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}


.werd1{
  font-size: 3em;
  color: white;
  font-family: sans-serif;
}
.werd2{
  font-size: 3em;
  font-family: sans-serif;
  color: white;
}
.werd3{
  // width:100%;
  font-size: 3em;
  color: white;
  font-family: sans-serif;
}
.linx{
  display:flex;
  justify-content: center;
  align-items: center;
  height:65%;
  width:85%;
  // border:1px solid red;
  // background-image: repeating-linear-gradient(45deg, transparent, transparent 25px,  black 25px, black 360px);
}
@media only screen and (max-width: 800px) {
  .linx{
    height: 65%;
  }
  .thanks-container{
    // border:1px solid blue;
    height: 40%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    // padding-bottom:15%
  }
  .contacter-container{
    // border:1px solid red;
    height:50%;
  }

  .redir-bottom{
    // border:1px solid red;
    height: 110vh;
    flex-direction: column;
  }
  .redir-contain{
    // border:1px solid red;
    height:150vh
  }
  .dir-box{
    // border:1px solid gray;
    width:100%;
    height:25%;
    // flex-wrap: wrap;
  }

}
@media only screen and (max-width: 500px) {
  .thanks{
    font-size: xx-large;
  }
  .redir-bottom{
    // border:1px solid red;
    height: 100vh;
    flex-direction: column;

  }
}