.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {   
  z-index: 100;
  background-color: white;
  position: relative;
  border-radius:3%;
  margin: 1.5vh auto;
  max-width: 55vw !important;
  padding: 1rem !important;
  max-height: 20vw !important;
  margin-top:10%;
  margin-left: 23%;
  display: block !important; 

}

.modal-header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #fff !important;
  padding: 0 !important;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  cursor: pointer;
  border: none;
  background: white;
  justify-content:flex-end;
  margin-left: 95%
}


.contact-container{
  // border:1px solid red;
  height:85%;
  display:flex;
  justify-content: space-between;
}
.muamer{
  border-right:5px solid #5d79ae;
  height:100%;
  width:49%;
}
.img-container{
  // border:1px solid green;
  height:40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-img{
  height:100px;
  width: 100px;
  border-radius: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}
.cont-title{
  // border:1px solid red;
  height:15%;
  display:flex;
  justify-content: center;
  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.name{
  font-size: 2.5rem;
  font-weight: 1000;
}
.role{
  // border:1px solid black;
  height:30%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.role-text{
  font-size: 1.3em;
}
.mail{
  display:flex;
  justify-content: center;
  align-items: center;
}
.mail-text{
  font-size: smaller;
}
.david{
  border-left:5px solid #5d79ae;
  height:100%;
  width:49%
}
.number{
  margin-top:1%;
  display:flex;
  justify-content: center;
}
.my-number{
  font-size: small;
}
.sexy-bar{
  border:1px solid #FEBD52;
  height:100%;
  width:.5%;
  background: #FEBD52;
}