.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {   
  z-index: 100;
  background-color: ghostwhite;
  position: relative;
  border-radius: 3%;
  margin: 1.5vh auto;
  max-width: 55vw !important;
  padding: 1rem !important;
  max-height: 47vw !important;
  margin-left: 23%;
  display: block !important; 

}

.modal-header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #fff !important;
  padding: 0 !important;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  cursor: pointer;
  border: none;
  // background: #92baac;
  justify-content:flex-end;
  margin-left: 95%
}

// button {
//   font-size: .9rem;
//   font-weight: 700;
//   border: none;
//   border-radius: 3px;
//   padding: .3rem 1rem;
//   margin-left: .5rem;
// }

.button-default {
  background: #247BA0;
  color: #fff;
}
