.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    // z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modal {   
    z-index: 100;
    background: white;
    position: relative;
    margin: 10vh auto;
    border-radius: 7%;
    max-width: 40vw;
    padding: 2rem;
    max-height: 25vw;
    margin-left: 30%;
    display: block !important; 
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid white !important;
    padding: 0 !important;
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    cursor: pointer;
    border: none;
    background: white;
    justify-content:flex-end;
    margin-left: 95%
  }
  
  // button {
  //   font-size: .9rem;
  //   font-weight: 700;
  //   border: none;
  //   border-radius: 3px;
  //   padding: .3rem 1rem;
  //   margin-left: .5rem;
  // }
  
  .button-default {
    background: #247BA0;
    color: #fff;
  }
  .appointment{
      border-bottom:1px solid #35373B;
      height:90%;
  }
  .header{
    border-bottom:1px solid #35373B;
    display:flex;
    justify-content: center;
  }
.form{
    // border:1px solid blue;
    height:91.3%;
}
.label{
    width:100%;
    // border: 1px solid red;
    height:15%;
    font-size: xx-large;
    
}

.input{
    font-size: large;
    margin-left: 2%;
    border: 1px solid #35373B;
    border-radius: 10px;
    width:30%
}
.input-description{
    font-size: large;
    margin-left: 2%;
    border: 1px solid #35373B;
    border-radius: 10px;
    width:70%;
    height:100%;

}
.submit-appointment{
    display:flex;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 3%;
}
.bottom-text{
    display:flex;
    justify-content:center;
}