
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: arial;
	vertical-align: baseline;
}
html{
  height: 100%;
  display: flex;
  background-color: #00203FFF;
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.app{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.carousel-home{
  height: 100%;
}
.Guide-cards{
	display: flex;
	background-color: #ADEFD1FF;
	height:94vh;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-around;
	padding-top: 5%;

}
.nav-links{
	text-decoration: none;
	border:none;
	padding:22%;
	padding-left: 4%;
    color:#ADEFD1FF;
    text-decoration:none;
	transition:0.22s ease;
	align-items: flex-end;
	  
}
.card-transparent{
	width:20%;
	height: 30%;	
	justify-content: center;
	align-items: center;
	position: relative;
    display: inline-block;
}

.guide-Link{
	height: 60%;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
	overflow: hidden;
	color: #ADEFD1FF;
	/* -webkit-text-stroke: .5px black; */
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 40%; /* Adjust this value to move the positioned div up and down */
	text-align: center;
	width: 70%;
	font-size: x-large;
	
}

.guide-Link:hover{
	color:#00203FFF;
}

.leading-pic{
	height:100%;
	width:100%;
	border-radius: 5%;
	opacity: .8;
}

.twitch-card{
	/* border:1px solid red; */
	width: 35%;
	height: 50%;
}
.youtube-card{
	/* border:1px solid red; */
	width: 35%;
	height: 50%;
	
}
.appointment-card{
	
	width: 10%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.training-button {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom,#ADEFD1FF 5%, #ADEFD1FF 100%);
	background-color:#00203FFF;
	border-radius:6px;
	border:2px solid #00203FFF;
	display:inline-block;
	cursor:pointer;
	color:#00203FFF;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ADEFD1FF;
	height:18%
}
.training-button:hover {
	background:linear-gradient(to bottom, #ADEFD1FF 5%, #ADEFD1FF 100%);
	background-color:#ADEFD1FF;
}
.training-button:active {
	position:relative;
	top:1px;
}
