html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: arial;
	vertical-align: baseline;
}
html{
  height: 100%;
  display: flex;
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin: 0
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none !important;
}
.App{
	width: 99vw;
	padding-left: 6%;
	padding-right: 5%;
}

.carousel-home{
  height: 100%;
}
.Guide-cards{
	/* border: 2px solid blue; */
	/* display: flex; */
	height:260vh;
	flex-wrap: wrap;
	/* justify-content: center;
	justify-content: space-evenly; */
	margin-top:3%;
	/* background-color:#FFE7C7;
	padding: 2.5%; */
	border-radius: 3%;

}
.four-cards{
	padding: 2.5%;
	display:flex;
	padding-bottom: .5%;
	background-color:#FFE7C7;
	border-radius: 3%;
	/* border: 2px solid red; */
	height:80%;
	flex-direction: column;
	border-radius: 3%;	

}
.guide-text-homepage-top{
	display:flex;
	justify-content: center;
	background-color:#FFE7C7;
	padding-bottom:3%;

	
}
.guide-text-homepage-bottom{
	display:flex;
	justify-content: center;
	/* border:1px solid red; */
	padding-top: 1%;

}
.guide-text-homepage{
	font-size: xx-large;
}


.image-left{
	/* border: 2px solid blue; */
	width:100%;
	height:75%;
	display:flex;
	border-radius: 1%;
	flex-direction: row;

}
.image-right{
	width:100%;
	height:75%;
	display: flex;
	/* justify-content: flex-end; */
	flex-direction: row-reverse;
}


.leading-pic{
	height:40vh;
	width:60.5vh;
	border-radius: 1%;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.top-left-text {
	display: flex;
	justify-content: center;
	font-size: large;
	background-color: #FEF8DD;
	height:40vh;
	width: 70%;
	margin-left:3%;
	padding:2%;
	border-radius: 1%;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.middle-right-text{
	background-color: #FEF8DD;
	height:40vh;
	width: 70%;
	padding:2%;
	margin-right: 3%;
	border-radius: 1%;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	font-size: large;
}
.middle-left-text{
	font-size: large;
	background-color: #FEF8DD;
	height:40vh;
	width: 70%;
	margin-left:3%;
	padding:2%;
	border-radius: 1%;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.bottom-right-text{
	background-color: #FEF8DD;
	height:40vh;
	width: 70%;
	padding:2%;
	margin-right: 3%;
	border-radius: 1%;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	font-size: large
}

.lurk-pic{
	height:40vh;
	width:60.5vh;
	border-radius: 1%;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.entry-pic{
	height:40vh;
	width:60.5vh;
	border-radius: 1%;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.sniper-pic{
	height:40vh;
	width:60.5vh;
	border-radius: 1%;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.third-section{
	/* border: 2px solid purple; */
	margin-top:2%;
	height: 20%;
	background-color: white;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px,  #FEBD52 25px, #FEBD52 1250px);
	

}
.bottom-cards{
	/* border: 2px solid purple; */
	display:flex;
	justify-content: space-around;
	height: 80%;
	/* background-color: #DDE0A9; */
	align-items: center; 
}

.flip-card{
	/* border:1px solid red; */
	height:30vh;
	width:45.5vh;
	
}
.youtube-card{
	/* border:5px solid red; */
	border-radius: 5%;
	height:30vh;
	width:45.5vh;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
	
}
.header-appointment-card{
	/* border: 1px solid red; */
	height:30vh;
	width:45.5vh;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5%;
}
.youtube-image{
	/* border:1px solid black; */
	border-radius: 5%;
	height:30vh;
	width:45.5vh;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);

}
.youtube-button{
	padding: 0;
	border: none;
	background: none;
	
}
.appointment-image{
	height:30vh;
	width:45.5vh;
	border-radius: 5%;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);

}


.flip-card {
	border-radius: 5%;
	background-color: transparent;
	height:30vh;
	width:45.5vh;
	/* border: 1px solid #f1f1f1; */
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
.flip-card-inner {
	border-radius: 5%;
	position: relative;
	height:30vh;
	width:45.5vh;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
	border-radius: 5%;
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
	border-radius: 5%;
	position: absolute;
	height:30vh;
	width:45.5vh;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	border-radius: 5%;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
	color: black;
}

/* Style the back side */
.flip-card-back {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5%;
	background: #5d79ae;
	color: #FEF8DD;
	transform: rotateY(180deg);
}

.flip-image{
	height:30vh;
	width:45.5vh;
	border-radius: 5%;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
	

  }
.names{
	/* border: 2px solid green; */
	width:29vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1.5%;
}


.GuidePage{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}

.GuidePageStyling {
	width: 100%; 
}

/* Guide Titles */

.GuideTitle {
	display: flex;
	align-items: center;
	height: 8vh;
	font-size: 1.75rem;
	background: linear-gradient(to right, #5d79ae -50%, #0c0f12 128%);
	color: white;
	border-radius: 10px;
	padding-left: 1.5%;
}

.GuideTitleH2 {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	padding-right: 3%;
	font-size: 1.5rem;
}

/* Guide Text  */

.GuideText{
	font-weight: bold;
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 1.5%;
}

.GuideTextPara{
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 1.5%;
	margin-bottom: 1%;
}




.the-names{
	font-size: 1.3em;
	height: 10%;
	width:100%;
	justify-content: flex-start;
	display: flex;
	
}
.media{
	width: 16.5vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
.the-links{
	height: 10%;
	width:100%;
	justify-content: flex-start;
	display: flex;
	margin-top: 10%;


}
i{
	font-size: 1.75vw;
	margin-right: 13%;
}

.GuideBarButton{
	background: linear-gradient(to right, #5d79ae 0%, #0c0f12 100%);
}