html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: arial;
	vertical-align: baseline;
}
html{
  height: 100%;
  display: flex;
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
	width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.App{
	padding-left: 5%;
	padding-right: 5%;
}

.carousel-home{
  height: 100%;
}
.Guide-cards{
	/* border: 2px solid blue; */
	/* display: flex; */
	background-color:white;
	height:75vh;
	flex-wrap: wrap;
	/* justify-content: center;
	justify-content: space-evenly; */
	padding-top: .5%;

}
.four-cards{
	display:flex;
	padding-bottom: .5%;

}
.guide-text-homepage{
	display:flex;
	justify-content: center;
}

.card-transparent{
	/* border: 2px solid green; */
	width:100%
}
.nav-links{
	text-decoration: none;
	border:none;
	padding:22%;
	padding-left: 4%;
    color:#ADEFD1FF;
    text-decoration:none;
	transition:0.22s ease;
	align-items: flex-end;
	  
}



.leading-pic{
	height:30vh;
	width:45.5vh;
	/* position: absolute; */
	/* opacity: .8; */
	
}
.lurk-pic{
	/* position: absolute; */
	height:30vh;
	width:45.5vh;
	/* opacity: .8; */
	/* margin-left:.5%; */
}
.entry-pic{
	/* position: absolute; */
	height:30vh;
	width:45.5vh;
	/* opacity: .8; */
	/* margin-left:.5% */
}
.sniper-pic{
	height:30vh;
	width:45.8vh;
	/* position: absolute; */
	/* opacity: .8; */
	/* margin-left:1% */
}

.bottom-cards{
	/* border: 2px solid purple; */
	display:flex;
	justify-content: space-around;
	padding-top: .5%
}

.flip-card{
	/* border:1px solid red; */
	height:30vh;
	width:45.5vh;
	
}
.youtube-card{
	/* border:5px solid red; */
	height:30vh;
	width:45.5vh;
	
}
.header-appointment-card{
	/* border: 1px solid red; */
	height:30vh;
	width:45.5vh;
}
.youtube-image{
	/* border:1px solid black; */
	border-radius: 5%;
	height:30vh;
	width:45.5vh;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

}
.youtube-button{
	padding: 0;
	border: none;
	background: none;
	
}
.appointment-image{
	height:30vh;
	width:45.5vh;
	border-radius: 5%;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

}


.flip-card {
	border-radius: 5%;
	background-color: transparent;
	height:30vh;
	width:45.5vh;
	/* border: 1px solid #f1f1f1; */
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
.flip-card-inner {
	border-radius: 5%;
	position: relative;
	height:30vh;
	width:45.5vh;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
	border-radius: 5%;
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
	border-radius: 5%;
	position: absolute;
	height:30vh;
	width:45.5vh;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	border-radius: 5%;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	color: black;
}

/* Style the back side */
.flip-card-back {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	border-radius: 5%;
	background: dodgerblue;
	color: white;
	transform: rotateY(180deg);
}

.flip-image{
	height:30vh;
	width:45.5vh;
	border-radius: 5%;

  }
.names{
	/* border: 2px solid green; */
	width:29vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1.5%;
}


.GuidePage{
	display: flex;
}

.GuidePageStyling {
	width: 70%;
	margin-left: 5%;
}

/* Guide Titles */

.GuideTitle {
	margin-bottom: 1%;
	padding: 3%
}

/* Guide Text  */

.GuideText {
	background: #F5FFFA;
	border-radius: .5%;
	padding: 3%
}


.the-names{
	font-size: 1.3em;
	height: 10%;
	width:100%;
	justify-content: flex-start;
	display: flex;
	
}
.media{
	width: 16.5vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
.the-links{
	height: 10%;
	width:100%;
	justify-content: flex-start;
	display: flex;
	margin-top: 10%;


}
i{
	font-size: 1.75vw;
	margin-right: 13%;
}